div#call {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 500px;
  height: 500px;
}

video {
  background: black;
  border: 1px solid gray;
}

video#local {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 15px;
  right: 15px;
}

video#remote {
  width: 500px;
  height: 500px;
}
.fixedButton,.batbc,.kq,.biosope,.watacem,.STYLECRAFT,.Top20{
    position:fixed;
    z-index: 1000;
  }
  .batbc{
    margin-top: 30px;
  }
  .kq{
    margin-top: 60px;
  }
.watacem{
    margin-top: 90px;
  }

 .STYLECRAFT{
    margin-top: 130px;
  } 

 .Top20{
    margin-top: 180px;
  }    

.biosope{
    margin-top: 80px;
  }

